.KPI {
  height: 80px;
  flex: 1 0 0;
  margin-right: 2.5%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:last-child {
    margin-right: unset;
  }

  .value {
    color: #99aae7;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 0px;
  }

  .key {
    color: #2d3f80;
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
  }
}

.KPIContainer {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
  align-items: center;

  &.row {
    flex-direction: row;

    &.connected {
      background-color: #0d1633;
      position: relative;
      &::after {
        --topBorderLengthPercent: 15;

        content: '';
        position: absolute;
        height: 2px;
        width: calc(var(--topBorderLengthPercent) * 1%);
        top: 0px;
        left: calc(((100 - var(--topBorderLengthPercent)) / 2) * 1%);
        background-color: #2a45b1;
        box-shadow: 0px 0px 15px 2px #2a45b1;
      }
    }

    &.separate {
      .KPI {
        background-color: #0d1633;
        position: relative;

        &::after {
          --topBorderLengthPercent: 20;

          content: '';
          position: absolute;
          height: 2px;
          width: calc(var(--topBorderLengthPercent) * 1%);
          top: 0px;
          left: calc(((100 - var(--topBorderLengthPercent)) / 2) * 1%);
          background-color: #2a45b1;
          box-shadow: 0px 0px 15px 2px #2a45b1;
        }
      }
    }
  }

  &.column {
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    height: 100%;

    &.separate {
      position: relative;
      &::after {
        --topBorderLengthPercent: 15;

        content: '';
        position: absolute;
        height: 2px;
        width: calc(var(--topBorderLengthPercent) * 1%);
        top: 0px;
        left: calc(((100 - var(--topBorderLengthPercent)) / 2) * 1%);
        background-color: #2a45b1;
        box-shadow: 0px 0px 15px 2px #2a45b1;
      }

      .KPI {
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: unset;
        margin-bottom: 5px;
        background-color: #0d1633;

        &:last-child {
          margin-bottom: unset;
        }

        .value {
          padding: unset;
          font-size: 14px;
          order: 1;
          padding: 0px 10px;
          font-size: 10px;
          font-weight: 700;
        }

        .key {
          color: #2d3f80;
          font-size: 12px;
          font-weight: 500;
          order: 0;
          padding: 0px 10px;
          text-transform: capitalize;
        }
      }
    }

    &.connected {
      position: relative;
      background-color: #0d1633;
      &::after {
        --topBorderLengthPercent: 15;

        content: '';
        position: absolute;
        height: 2px;
        width: calc(var(--topBorderLengthPercent) * 1%);
        top: 0px;
        left: calc(((100 - var(--topBorderLengthPercent)) / 2) * 1%);
        background-color: #2a45b1;
        box-shadow: 0px 0px 15px 2px #2a45b1;
      }

      .KPI {
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: unset;
        margin-bottom: 5px;
        background-color: unset;

        &:last-child {
          margin-bottom: unset;
        }

        .value {
          padding: unset;
          font-size: 14px;
          order: 1;
          padding: 0px 10px;
          font-size: 10px;
          font-weight: 700;
        }

        .key {
          color: #2d3f80;
          font-size: 12px;
          font-weight: 500;
          order: 0;
          padding: 0px 10px;
          text-transform: capitalize;
        }
      }
    }
  }
}
