.container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d1633;

  .text {
    color: white;
    font-weight: 500;
    font-size: 20px;
  }
}
