.background {
  background-color: #0d1633;
  min-height: 300px;
  @media only screen and (min-width: 600px) {
    min-height: unset;
  }
}

.customTooltip {
  display: flex;
  flex-direction: column;
  background-color: #161f48;
  border: 0px solid transparent;

  .label {
    text-transform: capitalize;
    padding: 5px 10px;
    font-weight: 500;
    margin: 0px;
  }

  .labelTitle {
    color: white;
    text-transform: capitalize;
    padding: 5px 10px;
    font-weight: 500;
    margin: 0px;
  }
}
