.BottomSection {
  flex: 0 0 8%;
  position: relative;
  z-index: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.svg {
  position: absolute;
  height: 100%;
  width: 150%;
  z-index: -1;

  @media only screen and (min-width: 600px) {
    width: 100%;
  }

  .animatedMiddle {
    stroke: hsl(229, 77%, 56%);
    stroke-width: 0.2;
    filter: url(#blurMe);
    stroke-dasharray: 2 25;
    stroke-dashoffset: 19.9;
    fill: transparent;
    stroke-linejoin: round;

    animation-name: toMiddle;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(0.98, -0.01, 0.77, 0.51);
  }

  .animatedLeft {
    stroke: #3a59e5;
    stroke-width: 0.15;
    filter: url(#blurMe);
    stroke-dasharray: 2 25;
    stroke-dashoffset: 25.8;
    fill: transparent;
    stroke-linejoin: round;

    animation-name: fromRight;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.98, -0.01, 0.77, 0.51);
  }

  .animatedRight {
    stroke: #3a59e5;
    stroke-width: 0.15;
    filter: url(#blurMe);
    stroke-dasharray: 2 25;
    stroke-dashoffset: 14;
    fill: transparent;
    stroke-linejoin: round;

    animation-name: fromLeft;
    animation-duration: 2.1s;
    animation-timing-function: cubic-bezier(0.98, -0.01, 0.77, 0.51);
  }
}

.menu {
  width: 60%;
  // border: 2px solid white;
  height: 80%;
  margin: 0px;
  padding: 0px;
  list-style-type: none;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  justify-items: center;
  align-items: flex-end;

  @media only screen and (min-width: 600px) {
    width: 40%;
  }

  .menuItem {
    flex: 1 0 0%;
    color: #99aae7;
    font-weight: 500;
    text-align: center;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    .content {
      padding-bottom: 2vh;
      position: relative;
      cursor: pointer;

      font-size: 10px;
      @media only screen and (min-width: 600px) {
        font-size: 16px;
      }

      &::after {
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%, 0);
        content: '';
        width: 0px;
        height: 2px;
        max-height: 2px;
        box-shadow: 0px 0px 0px 0px rgba(230, 232, 238, 0.2);
        // will-change: width, max-height, box-shadow;
        transition: width 0.3s ease-in-out, max-height 0.4s ease-in-out 0.2s,
          box-shadow 0.5s ease-in-out;
        background: linear-gradient(
          to top,
          #3858e5,
          #3858e5 2px,
          rgba(138, 153, 219, 0.3) 2px,
          rgba(138, 153, 219, 0.1) 100%
        );
      }
    }

    &.active {
      .content {
        &:after {
          width: 100%;
          height: 100%;
          max-height: 100%;
          box-shadow: 0px -5px 8px 2px rgba(138, 153, 219, 0.1);
        }
      }
    }
  }
}

@keyframes fromRight {
  0% {
    stroke: hsl(216, 90%, 69%);
    stroke-dashoffset: 0;
    stroke-dasharray: 1 0;
    stroke-width: 0.01;
  }

  100% {
    stroke-dasharray: 2 25;
    stroke-dashoffset: 14;
    stroke-width: 0.15;
    stroke: hsl(229, 77%, 56%);
  }
}

@keyframes fromLeft {
  0% {
    stroke: hsl(216, 90%, 69%);
    stroke-dashoffset: 0;
    stroke-dasharray: 1 0;
    stroke-width: 0.01;
  }

  100% {
    stroke-width: 0.15;
    stroke-dasharray: 2 25;
    stroke-dashoffset: 25.8;
    stroke: hsl(229, 77%, 56%);
  }
}

@keyframes toMiddle {
  0% {
    stroke: hsl(216, 90%, 69%);
    stroke-dashoffset: 0;
    stroke-dasharray: 1 0;
    stroke-width: 0.01;
  }

  100% {
    stroke-width: 0.2;
    stroke-dasharray: 2 25;
    stroke-dashoffset: 19.9;
    stroke: hsl(229, 77%, 56%);
  }
}
