@import '../../utility.scss';

.table {
  height: 100%;
  width: 100%;
  border: 1px solid red;

  overflow-y: auto;

  // display: grid;
  // justify-content: center;
  // align-content: start;
  // column-gap: 10px;
  // position: relative;
  overflow: 'auto';
  -webkit-overflow-scrolling: 'touch';
  will-change: 'transform';

  --scrollbarBG: #060b29;
  --thumbBG: #2a45b1;

  &::-webkit-scrollbar {
    width: 10px;
  }
  & {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  &::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 2px solid var(--scrollbarBG);
    // box-shadow: 0px 0px 5px 1px #2a45b1;
  }

  // .cell {
  //   height: 100%;
  //   width: 100%;

  //   display: flex;
  //   overflow: hidden;
  //   align-items: center;
  //   justify-content: start;

  //   .text {
  //     color: $fontColor1;
  //   }
  // }

  // .header {
  //   position: sticky;
  //   top: 0;
  //   .text {
  //     text-transform: capitalize;
  //     color: $fontColor3;
  //   }
  // }
  .inner {
    position: relative;
    -webkit-overflow-scrolling: 'touch';
    will-change: 'transform';
  }

  .headerRow {
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    -webkit-overflow-scrolling: 'touch';
    will-change: 'transform';
  }

  .row {
    border: 1px solid green;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    -webkit-overflow-scrolling: 'touch';
    will-change: 'transform';
  }

  .cell {
    flex: 0 0 150px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    -webkit-overflow-scrolling: 'touch';
    will-change: 'transform';

    .text {
      color: $fontColor1;
      font-size: 0.9rem;
    }
  }
}
