.grid {
  width: 100%;
  height: 100%;

  display: grid;

  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 100px 1fr 1fr;
  gap: 16px;
  padding: 16px;

  & > {
    .KPIC_container {
      grid-column: span 3;
      grid-row: span 1;
    }

    .KPID_container {
      grid-column: span 3;
      grid-row: span 1;
    }

    .pie-chart {
      grid-column: 1/4;
      grid-row: 2/3;
    }
    .column-chart {
      grid-column: 4/-1;
      grid-row: 2/3;
    }

    .line-chart {
      grid-column: 1/-1;
      grid-row: 3/4;
    }
  }
}
