.Slider {
  flex: 1 0 70%;
}

.Slide {
  width: 100%;
  height: 100%;
  position: absolute;
}

.background1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 36px;
}

.background2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 36px;
}

.background3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 36px;
}
