// Colors
$white-smoke: #f3f6f7;
$morning-mist: #e9edf0;
$drifting-cloud: #dbe0e5;
$disco-ball: #d1d5d8;
$metropolitan-silhouette: #3d4147;
$sub-zero: #569fd1;
$abyssal: #404d5d;
$mississippi-river: #386394;
$mykonos: #407db6;
$sea-salt-rivers: #5986b4;
$cousteau: #67a8d3;
$inkblot: #3c4047;
$juvie: #8db8d5;
$featherbed: #aecade;
$serene-sea: #7ea0bd;
$walrus: #999b9d;
$metropolitan-silhouette-alt: #3c4046;
$wolfram: #b7b7b7;
$rapunzel-silver: #cfd1d4;
$wolfram-alt: #b3b7b8;
$ghost-whisperer: #ccd0d4;
$ebony: #2f3136;
$tamahagane: #3b3f45;
$super-silver: #eaeef0;
